
RewriteOptions inherit

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php
RewriteRule ^kirim-doa post/post_ajax.php
RewriteCond %{HTTP_HOST} ^awbook\.id\\invitation$ [OR]
RewriteCond %{HTTP_HOST} ^www\.awbook\.id\\invitation$
RewriteRule ^\awbook.id\/invitation$ "https\:\/\/awbook\.id\\invitation" [R=302,L]

